{% extends 'base.html.twig' %}

{% block title %}Log in!
{% endblock %}

{% block body %}

	<!-- start breadcrumbs -->
	<div class="breadcrumbs">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-6 col-md-6 col-12">
					<div class="breadcrumbs-content">
						<h1 class="page-title">Connexion</h1>
					</div>
				</div>
				<div class="col-lg-6 col-md-6 col-12">
					<ul class="breadcrumb-nav">
						<li>
							<a href=" {{path('app_home')}} ">
								<i class="lni lni-home"></i>
								Accueil</a>
						</li>
						<li>Connexion</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- End breadcrumbs -->

	<div class="account-login section">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 offset-lg-3 col-md-10 offset-md-1 col-12">
					<form class="card login-form" method="post">
						<div class="card-body">
							<div class="title">
								<h3>Identifiez-vous</h3>
								<p>Tous les champs doivent être remplis.</p>
							</div>
							{% if error %}
								<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
							{% endif %}
							{% if app.user %}
								<div class="mb-3">
									You are logged in as
									{{ app.user.username }},
									<a href="{{ path('app_logout') }}">Logout</a>
								</div>
							{% endif %}
							{# 
							<div class="alt-option">
								<span>Or</span>
							</div>
							#}

							<div class="form-group input-group">
								<label for="reg-fn">Email</label>
                				<input class="form-control" type="email" id="reg-email"  value="{{ last_username }}" name="email"  autocomplete="email" required autofocus>
							</div>
							<div class="form-group input-group">
								<label for="reg-fn">Mot de passe</label>
                				<input class="form-control" type="password" id="reg-pass" name="password"  autocomplete="current-password" required>
							</div>
							<div class="d-flex flex-wrap justify-content-between bottom-content mb-4">
								{#<div class="form-check">
									<input type="checkbox" class="form-check-input width-auto"  name="_remember_me">
									<label class="form-check-label">Garder ma session active</label>
								</div> #}
								<a class="lost-pass" href="{{path('app_forgot_password_request')}}">
									<small>Mot de passe oublié?</small>
								</a>
							</div>

							<input
							type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

							{#
								Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
								See https://symfony.com/doc/current/security/remember_me.html
								<div class="checkbox mb-3">
									<label>
										<input type="checkbox" name="_remember_me"> Remember me
									</label>
								</div>
							#}
							<div class="button">
                				<button class="btn" type="submit">Se connecter</button>
             	 			</div>

						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>{% endblock %}
